.lineamount {
    width: 100%;
    height: 3px;
    color: red;
    background-color: green;
    margin-inline-start: auto;
}
.ffoter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6%;
}
